/web/bundles/
web/css/*
web/js/*
web/assetic/*
web/images/*
web/uploads/*
web/downloads/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.idea
.buildpath
.project
.settings
src/CM/Bundle/ModelBundle/Entity/*.php~
*.sublime-project
*.sublime-workspace
.directory

