{# 	<div class='panel-heading'>Tags <span class='glyphicon glyphicon-tags'></span><span class='tag-label-response label label-success pull-right' style='display:none'></span></div>#}	
		<ul id='tags-{{ post.id }}' class='tags-varios' style='width: 272px'>
		</ul>
		<input class='tags-input' type='hidden' style='display:none;' value='' name='tags'>
	
